PORT=3000
NODE_ENV=development

PG_HOST=localhost
PG_PORT=5432
PG_USER=order_user
PG_PASSWORD=order_pass
PG_DB=order_read_db

ESDB_HOST=localhost
ESDB_PORT=2113

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=